* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Lexend", serif;
}

html {
    background-color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #003366;
        padding: 2rem;
        border-radius: 1rem;
        width: 50vw;
        height: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.307);
        gap: 1rem;
    }
}

.area {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        border-bottom: 2px solid #D4AF37;
    }

    input {
        border: none;
        padding: .8rem;
        border-radius: .2rem;
        border: 2px solid transparent;

        &:focus {
            outline: none;
            border: 2px solid #D4AF37;
        }
    }

}

.buttons {
    display: flex;
    padding: .6rem;
    justify-content: space-around;

    input {
        padding: .8rem;
        border: none;
        border-radius: .2rem;
        background-color: #D4AF37;
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 0.8;
        }
    }
}

.container_result {
    margin-top: 1rem;

    .content_result {
        display: flex;
        flex-direction: column;
        gap: .6rem;


        li {

            .result_group {
                display: flex;
                flex-direction: column;
                gap: .6rem;
            }
        }

        & span {
            color: #D4AF37;
        }
    }
}